<div class="cnt-center">

  <div class="content-top">
      <div class="title">Rejestracja</div>
  </div>

  <div class="content-bg">
      <div class="content-txt">

          <form (ngSubmit)="register()">
              <table width="100%" cellspacing="1" cellpadding="4" border="0">
                  <tbody>

                  <tr>
                      <td class="white" colspan="2" bgcolor="#505050">
                          <b>Tworzenie konta</b>
                      </td>
                  </tr>

                  <tr bgcolor="#d4c0a1">
                      <td width="150" valign="top"><b>Nazwa użytkownika</b></td>
                      <td colspan="2">
                          <input type="text" value="" size="30" maxlength="16" required name="username" [(ngModel)]="model.username">
                      </td>
                  </tr>

                  <tr bgcolor="#f1e0c6">
                      <td width="150" valign="top">
                          <b>Hasło <small>Minimum 8 znaków</small></b>
                      </td>
                      <td colspan="2">
                          <input type="password" value="" size="30" maxlength="50" required name="password" [(ngModel)]="model.password">
                      </td>
                  </tr>

                  <tr bgcolor="#d4c0a1">
                      <td width="150" valign="top">
                          <b>Powtórz hasło</b>
                      </td>
                      <td colspan="2">
                          <input type="password" value="" size="30" maxlength="50" required name="confirm" [(ngModel)]="model.confirm">
                      </td>
                  </tr>

                  <tr bgcolor="#f1e0c6">
                      <td width="150" valign="top">
                          <b>Email</b>
                      </td>
                      <td colspan="2">
                          <input type="email" value="" size="30" maxlength="50" required name="email" [(ngModel)]="model.email">
                      </td>
                  </tr>

                  </tbody>
              </table>

              <br>

              <table width="100%" border="0">
                  <tbody>
                  <tr>
                      <td valign="top" align="center">
                          <button type="submit" class="btn btn-success">Zarejestruj</button>
                      </td>
                      <td align="center"></td>
                      <td align="center"></td>
                  </tr>
                  </tbody>
              </table>
          </form>
      </div>
  </div>

  <div class="content-bot"></div>

</div>