<div class="cnt-center">

  <div class="content-top">
      <div class="title">Ostatnie zmiany</div>
  </div>

  <div class="content-bg">
      <div class="content-txt">
          <div class="pageheader"> Wyniki z dnia data</div>
          <div class="news-txt">
              <p> Wylosowane liczby: {{ numbers }}</p>
              <br>
              <p> Wygrana za trojke - 24 zl </p>
              <p> Wygrana za czworke - fourth zl </p>
              <p> Wygrana za piatke - fifth zl </p>
              <p> Wygrana za szostke - sixth zl </p>
              <p> Nikt nie trafil szostki </p>
              <br>
              <br>

              <p> Podsumowanie dnia sumUpDate </p>
              <p> Wyslano totalSendBets zakladow </p>
              <p> Trafionych trojek: totalScoreOfThrees </p>
              <p> Trafionych czworek: totalScoreOfFours </p>
              <p> Trafionych piatek: totalScoreOfFives </p>
              <p> Trafionych szostek: totalScoreOfSixies </p>

          </div>
      </div>
  </div>

  <div class="content-bot"></div>

</div>