<div class="cnt-center">

  <div class="content-top">
      <div class="title">Odzyskiwanie hasła</div>
  </div>

  <div class="content-bg">
      <div class="content-txt">
          Na podany email zostanie wysłany link do ustawienia nowego hasła.
          <br><br>
          <form>
              <table width="100%" cellspacing="1" cellpadding="4" border="0">
                  <tbody>
                      <tr>
                          <td class="white" colspan="2" bgcolor="#505050">
                              <b>Odzyskiwanie hasła</b>
                          </td>
                      </tr>

                      <tr bgcolor="#d4c0a1">
                          <td width="150" valign="top"><b>Email</b></td>
                          <td colspan="2">
                              <input type="email" size="30" maxlength="16">
                          </td>
                      </tr>

                  </tbody>
              </table>

              <br>

              <table width="100%" border="0">
                  <tbody>
                      <tr>
                          <td valign="top" align="center">
                              <button
                                  type="submit">Wyślij</button>
                          </td>
                          <td align="center"></td>
                          <td align="center"></td>
                      </tr>
                  </tbody>
              </table>
          </form>
      </div>
  </div>

  <div class="content-bot"></div>

</div>