<div class="cnt-center">

  <div class="content-top">
      <div class="title">Wyszukiwanie gracza</div>
  </div>

  <div class="content-bg">
      <div class="content-txt">

          <form>
              <table width="100%" cellspacing="1" cellpadding="4" border="0">
                  <tbody>
                  <tr>
                      <td class="white" colspan="2" bgcolor="#505050">
                          <b>Wyszukaj gracza</b>
                      </td>
                  </tr>

                  <tr bgcolor="#d4c0a1">
                      <td width="150" valign="top"><b>Nick gracza:</b></td>
                      <td colspan="2">
                          <input type="text" value="" size="30" maxlength="50">
                      </td>
                  </tr>

                  </tbody>
              </table>

              <br>

              <table width="100%" border="0">
                  <tbody>
                  <tr>
                      <td valign="top" align="center">
                          <input [routerLink]="['/gracz']" type="button" src="" width="120" height="36" border="0">Wyszukaj
                      </td>
                      <td align="center"></td>
                      <td align="center"></td>
                  </tr>
                  </tbody>
              </table>
          </form>
      </div>
  </div>

  <div class="content-bot"></div>

</div>