<div id="cnt-left">
    <div id="menu">

        <div class="menu-top">
            <div class="menu-exten"></div>
            <div class="menu-text">News</div>
        </div>
        <div class="menu-cnt">
            <ul>
                <li><a href="#">Ostatnie newsy</a></li>
            </ul>
            <ul>
                <li class="last"><a href="#">Informacje</a></li>
            </ul>
        </div>
        <div class="menu-bottom">&nbsp;</div>

        <div class="menu-top">
            <div class="menu-exten"></div>
            <div class="menu-text">Konto</div>
        </div>
        <div class="menu-cnt">
            <ul>
                <li><a href="#">Logowanie</a></li>
                <li><a href="#">Tworzenie konta</a></li>
                <li><a href="#">Moje konto</a></li>
                <li class="last"><a href="#">Utracone konto?</a></li>
            </ul>
        </div>
        <div class="menu-bottom">&nbsp;</div>

        <div class="menu-top">
            <div class="menu-exten"></div>
            <div class="menu-text">Społeczność</div>
        </div>
        <div class="menu-cnt">
            <ul>
                <li><a href="#">Wyszukiwarka</a></li>
                <li class="last"><a href="#">Statystyki</a></li>
            </ul>
        </div>
        <div class="menu-bottom">&nbsp;</div>

    </div>
</div>