<div id="cnt-left">
    <div id="menu">

        <div class="menu-top">
            <div class="menu-exten"></div>
            <div class="menu-text">News</div>
        </div>
        <div class="menu-cnt">
            <ul>
                <li routerLinkActive="active"><a [routerLink]="['/home']">Ostatnie newsy</a></li>
            </ul>
            <ul>
                <li class="last"><a href="#">Informacje</a></li>
            </ul>
        </div>
        <div class="menu-bottom">&nbsp;</div>

        <div class="menu-top">
            <div class="menu-exten"></div>
            <div class="menu-text">Konto</div>
        </div>
        <div class="menu-cnt">
            <ul>
                <li *ngIf="!authService.loggedIn()" routerLinkActive="active"><a [routerLink]="['/login']">Logowanie</a></li>
                <li routerLinkActive="active"><a [routerLink]="['/register']">Tworzenie konta</a></li>
                <li *ngIf="authService.loggedIn()" routerLinkActive="active"><a [routerLink]="['/moje-konto']">Moje konto</a></li>
                <li class="last"><a href="#">Utracone konto?</a></li>
            </ul>
        </div>
        <div class="menu-bottom">&nbsp;</div>

        <div class="menu-top">
            <div class="menu-exten"></div>
            <div class="menu-text">Społeczność</div>
        </div>
        <div class="menu-cnt">
            <ul>
                <li routerLinkActive="active"><a [routerLink]="['/wyszukiwarka']">Wyszukiwarka</a></li>
                <li class="last" routerLinkActive="active"><a [routerLink]="['/statystyki']">Statystyki</a></li>
            </ul>
        </div>
        <div class="menu-bottom">&nbsp;</div>

    </div>
</div>