<div id="cnt-right">

  <div class="menu-top">
      <div class="menu-exten"></div>
      <div class="menu-text">Status</div>
  </div>
  <div class="menu-cnt">
      <ul>
          <li>
              <span class="font_lightgreen"> {{registered}} zarejestrowamych </span>
          </li>
      </ul>
      <ul>
          <li>
              <span style="color: #D6960B"> {{sendBets}} wyslanych zakladow </span>
          </li>
      </ul>
      <ul>
          <li>
              <span style="color: #D6960B"> Trojek: {{amountOfThrees}} </span>
              <span class="pull-right"> {{percentChangeForThree}}% </span>
          </li>
      </ul>
      <ul>
          <li>
              <span style="color: #D6960B"> Czwórek : {{amountOfFours}} </span>
              <span class="pull-right"> {{percentChangeForFour}}% </span>
          </li>
      </ul>
      <ul>
          <li>
              <span style="color: #D6960B"> Piatek: {{amountOfFives}} </span>
              <span class="pull-right"> {{percentChangeForFive}}% </span>
          </li>
      </ul>
      <ul>
        <li class="last">
            <span style="color: #D6960B"> Szóstek: {{amountOfSixes}} </span>
            <span class="pull-right"> {{percentChangeForSix}}% </span>
        </li>
      </ul>
  </div>
  <div class="menu-bottom"></div>

  <div class="menu-top">
      <div class="menu-exten"></div>
      <div class="menu-text">Top 5 Level</div>
  </div>
  <div class="menu-cnt">

      <ul *ngFor="let user of users">
          <li class="last">
              <span><i> {{user.username}} </i></span>
              <span class="pull-right"> {{user.level}} lv </span>
          </li>
      </ul>

  </div>
  <div class="menu-bottom"></div>

  <div class="menu-top">
      <div class="menu-exten"></div>
      <div class="menu-text">Best 5 Last Xp</div>
  </div>
  <div class="menu-cnt">

      <ul *ngFor="let user of user1">
          <li>
              <span><i> {{user.username}} </i></span>
              <span class="pull-right"> +{{user.experience}} </span>
          </li>
      </ul>
      
  </div>
  <div class="menu-bottom"></div>

</div>