<div id="cnt-right">

  <div class="menu-top">
      <div class="menu-exten"></div>
      <div class="menu-text">Status</div>
  </div>
  <div class="menu-cnt">
      <ul>
          <li>
              <span class="font_lightgreen"> 23 zarejestrowanych </span>
          </li>
      </ul>
      <ul>
          <li>
              <span class="font_lightgreen"> 0 online </span>
          </li>
      </ul>
      <ul>
          <li>
              <span style="color: #D6960B"> 18923 wyslanych zakladow </span>
          </li>
      </ul>
      <ul>
          <li>
              <span style="color: #D6960B"> Trojek: 185 </span>
              <span class="pull-right"> 1.65% </span>
          </li>
      </ul>
      <ul>
          <li>
              <span style="color: #D6960B"> Czwórek : 23 </span>
              <span class="pull-right"> 0.17% </span>
          </li>
      </ul>
      <ul>
          <li class="last">
              <span style="color: #D6960B"> Piatek: 1 </span>
              <span class="pull-right"> 0.005% </span>
          </li>
      </ul>
  </div>
  <div class="menu-bottom"></div>

  <div class="menu-top">
      <div class="menu-exten"></div>
      <div class="menu-text">Top 5 Level</div>
  </div>
  <div class="menu-cnt">

      <ul>
          <li class="last">
              <span><i>Player1</i></span>
              <span class="pull-right"> 121 lv </span>
          </li>
      </ul>

  </div>
  <div class="menu-bottom"></div>

  <div class="menu-top">
      <div class="menu-exten"></div>
      <div class="menu-text">Best 5 Last Xp</div>
  </div>
  <div class="menu-cnt">

      <ul>
          <li>
              <span><i> Player1 </i></span>
              <span class="pull-right"> +487 </span>
          </li>
      </ul>
      
  </div>
  <div class="menu-bottom"></div>

</div>